
NameVirtualHost *:443
<VirtualHost *:443>
	ServerName {{ servername }}
	{% if serveralias is defined %}
	ServerAlias {{serveralias}}
	{% endif %}
	{% if serveradmin is defined %}
	ServerAdmin {{ serveradmin }}
	{% endif %}

	SSLEngine On
	#SSLCertificateFile /etc/apache2/ssl/selfsigned.pem
	SSLCertificateFile /etc/letsencrypt/live/{{ servername }}/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ servername }}/privkey.pem


	Alias /robots.txt /var/www/robots.txt
    <Location "/robots.txt">
        SetHandler None
    </Location>

    DocumentRoot {{ documentroot }}
	<Directory {{ documentroot }}>
        DirectoryIndex index.php
        Options +FollowSymLinks -Indexes
    </Directory>

	ErrorLog /var/log/apache2/{{ servername }}-error_ssl.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/{{ servername }}-access_ssl.log combined
	ServerSignature Off

</VirtualHost>
